<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeriseSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MeriseSuite.Properties.Settings>
            <setting name="Quality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntityColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="RelationColor" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="InheritanceColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="PropertyStyle" serializeAs="String">
                <value>KeyOnly</value>
            </setting>
        </MeriseSuite.Properties.Settings>
    </userSettings>
</configuration>